<div class="container">
    <div class="article-meta">
        <img style="height: 200px; width: 400px;" ng-src="{{$ctrl.serie.image}}" />
        <h2 style="margin-top: 20px;" ng-bind="$ctrl.serie.title"></h2>

        <p ng-bind="'Seasons: ' + $ctrl.serie.seasons"></p>
        <p ng-bind="$ctrl.serie.category"></p>
        <p style="opacity: 0.7;" ng-bind="'Posted by: ' + $ctrl.serie.author.username"></p>

        <button style="border-width: 0px; border-radius: 3px;background-color: #5db95b; color: white; margin-bottom: 15px;"
            ng-click="$ctrl.onBack()">Back</button>

        <follow-btn user="$ctrl.serie.author"></follow-btn>
        <favorite-btn serie="$ctrl.serie">
            {{ $ctrl.serie.favorited ? 'Unfavorite' : 'Favorite' }} Serie <span
                class="counter">({{ $ctrl.serie.favoritesCount }})</span>
        </favorite-btn>

        <!-- Reviews section -->
        <div class="row">
            <div class="col-xs-12 col-md-8 offset-md-2">

                <div show-authed="true">
                    <list-errors from="$crl.reviewForm.errors"></list-errors>
                    <form class="card review-form" ng-submit="$ctrl.addReview()">
                        <fieldset ng-disabled="$ctrl.reviewForm.isSubmitting">
                            <div class="card-block">
                                <textarea class="form-control" placeholder="Write a review..." rows="3"
                                    ng-model="$ctrl.reviewForm.body"></textarea>
                            </div>
                            <div class="card-footer">
                                <img ng-src="{{$ctrl.user.image}}" class="review-author-img" />
                                <button class="btn btn-sm btn-primary" type="submit">
                                    Post Review
                                </button>
                            </div>
                        </fieldset>
                    </form>
                </div>

                <div show-authed="false">
                    <a ui-sref="app.login">Sign in</a> or <a ui-sref="app.register">sign up</a> to add reviews on this
                    serie.
                </div>

                <review ng-repeat="rvw in $ctrl.reviews" data="rvw" delete-cb="$ctrl.deleteReview(rvw.id, $index)">
                </review>


            </div>
        </div>
    </div>
</div>