<div class="article-page">

  <!-- Banner for article title, action buttons -->
  <div class="banner">
    <div class="container">

      <h1 ng-bind="$ctrl.serie.title"></h1>

      <div class="article-meta">
        <!-- Show author info + favorite & follow buttons -->
        <serie-actions serie="$ctrl.serie"></serie-actions>

      </div>
    </div>
  </div>

  <!-- Main view. Contains serie html and reviews -->
  <div class="container page">

    <!-- Serie info section -->
    <img style="height: 200px; width: 400px;" ng-src="{{$ctrl.serie.image}}" />
    <h2 style="margin-top: 20px;" ng-bind="$ctrl.serie.title"></h2>

    <p ng-bind="'Seasons: ' + $ctrl.serie.seasons"></p>
    <p ng-bind="$ctrl.serie.category"></p>

    <hr/>

    <!-- Reviews section -->
    <div class="row">
      <div class="col-xs-12 col-md-8 offset-md-2">

        <div show-authed="true">
          <list-errors from="$crl.reviewForm.errors"></list-errors>
          <form class="card comment-form" ng-submit="$ctrl.addReview()">
            <fieldset ng-disabled="$ctrl.reviewForm.isSubmitting">
              <div class="card-block">
                <textarea class="form-control" placeholder="Write a review..." rows="3"
                  ng-model="$ctrl.reviewForm.body"></textarea>
              </div>
              <div class="card-footer">
                <img ng-src="{{$ctrl.currentUser.image}}" class="comment-author-img" />
                <button class="btn btn-sm btn-primary" type="submit">
                  Post Review
                </button>
              </div>
            </fieldset>
          </form>
        </div>

        <div show-authed="false">
          <a ui-sref="app.login">Sign in</a> or <a ui-sref="app.register">sign up</a> to add reviews on this serie.
        </div>

        <review ng-repeat="review in $ctrl.reviews" data="review" delete-cb="$ctrl.deleteReview(review.id, $index)">
        </review>

      </div>
    </div>
  </div>
</div>